*{
    margin: 0;
    padding: 0;
}
body{
    background-color: cadetblue;
   font-family: 'Pangolin', cursive;
    font-size: 20px;
}
.main-head{
    background-image: url('img/1568-yeti-matiss-blue-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    margin: 25px 30px 0 30px;
    padding:;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.logo{
    position: absolute;
    top:0;
    left:0;
    padding: 15px 0 0 30px;
    font-family: monospace;
    font-size: 30px;
    color: white;
}
.head-data h5{
   font-family: 'Pangolin', cursive;
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 2px;
    padding-bottom: 30px;
    opacity: .7;
    text-align: center;
    
}
.head-data h1{
    font-family: sans-serif;
    color: whitesmoke;
    opacity: .6;
    font-size: 60px;
}
.btn{
    color: white;
    opacity: .6;
    text-decoration: none;
    border: 1px solid white;
    display: inline-block;
    margin: 20px 0;
    padding: 10px 30px;
    border-radius: 50%;
}
.btn-2{
   background-color: darkblue;
    color: white;
    opacity: .6;
    text-decoration: none;
    border: 1px solid white;
    display: inline-block;
    margin: 30px 30px;
    padding: 10px 30px;
    border-radius: 50%;
    
}
.fas{
    padding-left: 10px;
}
.main-data{
    font-family: 'Pangolin', cursive;
    background-color: white;
    height: 500px;
    margin: 0 30px 0 30px;
    padding: 0 20px 0 20px;
    display: flex;
    
}
.main-data-div{
    width: 50%;
}
.main-data-div h1{
    font-size: 40px;
    color: black;
    opacity: .3;
    margin: 0 0 30px;
    padding: 20px;
}
.main-data-div h6{
    color: black;
    opacity: .3;
    margin: 20px;
    padding: 15px 0 15px;
}
.right-img{
    background-image: url( img/blue-mountain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    margin: 50px;
    position: relative;
}
.part-three-div{
    width: 50%;
}
.part-three-div h1{
    font-size: 40px;
    color: white;
    opacity: .5;
    margin: 0 0 30px;
    padding: 20px;
}
.part-three-div h6{
    color: white;
    opacity: .5;
    margin: 20px;
    padding: 15px 0 15px;
}
.part-three{
    background-image: url( img/c-girl.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 30px 0 30px;
    display: flex;
    justify-content: flex-end;
}
.grid-container{
    display: grid;
    background-color: white;
    grid-template-columns: auto auto;
    margin: 0 30px 0 30px;
    padding: 30px 120px;
    grid-gap: 20px;
}
.grid-item{
    text-align: center;
}
.grid-item img{
    max-width: 100%;
} 
.form{
    background-image: url(img/c-girl.jpg);
    height: 500px;
    margin: 0 30px 0 30px;
    text-align: center;
    
        
}

.contact-head h3 {
    color: #9DA2A0;
    font-size: 36px;
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    line-height: 36px;
    margin-bottom: 10px;
    padding-top: 50px;
}

.contact-head h3 span {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    display: inline-block;
}
footer {
    color: #e6e4e4;
    background: #000;
    text-align: center;
    margin: 0 30px 0 30px;
    padding:90px 0;
}

.footer-menu{
    margin-bottom: 25px; 
}
.footer-menu ul {
    list-style: none;
}

.footer-menu ul li {
    display: inline-block;
}

.footer-menu ul li a {
    color: #e6e4e4;
    font-size: 16px;
    text-decoration: none;
    padding: 0 10px;
}
.icons{
    padding-left: 480px;
    overflow: hidden;
}
}
.icons ul{
    margin: 0;
    padding: 0;
    
}
.icons ul li{
    list-style-type: none;
    float: left;
    margin-right: 10px;
}
.icons ul li a{
    background-image: url('img/sprite-icon-29.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 84px;
    height: 84px;
    display: flex;
    border: 2px solid red;
    align-items: center;
    border-radius: 50%;
    transition: 1s;
        
}
.icons ul li:hover:nth-child(1) a{
    background-position: 0 -84px;
}
.icons ul li:nth-child(2) a{
    background-position: -168px 0;
}
.icons ul li:hover:nth-child(2) a{
    background-position: -168px -84px;
}
.icons ul li:nth-child(3) a{
    background-position: -252px 0;
}
.icons ul li:hover:nth-child(3) a{
    background-position: -252px -84px;
}
.icons ul li:nth-child(4) a{
    background-position: -420px 0;
}
.icons ul li:hover:nth-child(4) a{
    background-position: -420px -84px;
}

